img
    width:10%
    cursor: pointer

li
    margin-left: 5%
    margin-right: 5%
    margin-top: 2%
    margin-bot: 2%

.navbutt
    width: 100%

.navbar
    margin-bottom: 3%
    border-bottom: 1px solid black

@media only screen and (max-width: 600px)
    .navbar
        margin-bottom: 5%
    img
        width: 50%

@media only screen and (min-width: 600px)
    .navbar-brand
        margin-left: 20%
    .mobile
        visibility: hidden

.header
    box-shadow: 6px 6px 26px 1px rgba(0,0,0,0.75)