<div>
    <img src="../../../assets/logo.png"/>
    <div class="top">
        <button mat-raised-button (click)="auth.googleSignin()">
            <i class="fa fa-google"></i> Connect with Google
        </button>
    </div>
    <div>
        <mat-form-field class="group-form-field">
            <mat-label>Group ID</mat-label>
            <input matInput type="text" [(ngModel)]="groupIdValue">
        </mat-form-field>
        <mat-form-field class="group-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="text" [(ngModel)]="groupPasswordValue">
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="onJoin()">Join group</button>
    </div>
</div>