/* You can add global styles to this file, and also import other style files */

html
    display: flex
    flex-direction: column
    justify-content: center

body
    background: linear-gradient(#ffffff, #aba9a9) no-repeat center center fixed

body, html
    text-align: center
    vertical-align: center