@media only screen and (min-width: 1000px)
    .container
        height: 100%

    .row
        height: 100%
        justify-content: center

    .display-row
        border-style: solid
        margin:10px
        background-color: #e6e6e6
        border-radius: 25px
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.25)